{% unless page.no_header %}
  <header>
  {% if index %}
    {% if post.external-url %}
      <h1 class="entry-title"><a href="{{ post.external-url }}">{{ post.title }}</a> <a href="{{ root_url }}{{ post.url }}">&#8734;</a></h1>
      {% else %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
      {% endif %}
      <p class="meta">
        <time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%B %-d, %Y" }}</time>
      </p>
      {% else %}
    {% if page.external-url %}
      <h1 class="entry-title"><a href="{{ page.external-url }}">{{ page.title }}</a> &#8734;</h1>
      {% else %}
      <h1 class="entry-title">{{ page.title }}</h1>
    {% endif %}
  {% endif %}
  </header>
{% endunless %}
{% if index %}
  <div class="entry-content">{{ post.excerpt }}</div>
  {% if post.content contains "<!--more-->" %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="entry-content">{{ content }}</div>
{% endif %}
